@import "https://use.fontawesome.com/releases/v5.7.0/css/all.css";

@font-face {
    font-family: google-sans;
    src: url(assets/fonts/GoogleSans-Regular.ttf);
}
.google-font{
    font-family: google-sans
};
