@font-face {
    font-family: google-sans;
    src: url(assets/fonts/google-font.woff2);
    font-display: swap;
}

.google-font {
    font-family: google-sans
}

.aura-heading{
    font-weight: 350; 
    font-size: 200%;
    font-family: google-sans
}

.aura-text {
    background-image: url('../src//assets//img/dontremove/btn.png');
    /* background-repeat: repeat; */
    background-position: center;
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* text-fill-color: transparent; */
}

.aura-btn {
    background-image: url('../src//assets//img/dontremove/btn.png') !important;
    background-position: center;
    background-size: 100%; 
}
.aura-btn:hover {
    background-image: url('../src//assets//img/dontremove/btn.png') !important;
    background-position: center;
    background-size: 130%; 
}

html {
    overflow-x: hidden;
}

body {
    font-family: google-sans
}

.card-light {
    height: 100%;
    background: #f1f2f3 !important;
    border-radius: 12px !important
}

.card-white {
    height: 100%;
    background: white !important;
    border-radius: 12px !important
}

.card-dark {
    height: 100%;
    background-color: #292929;
    border-radius: 12px !important
}

.card-dark-secondary {
    background-color: #1E1E1E !important;
    border-radius: 12px !important
}

.darkModeCard {
    background-color: #292929;
    /* border:1px solid #212121; */
    border-radius: 12px !important
}

.whiteTheme {
    background: F1F2F3;
    /* border:1px solid #e0e0e0; */
    border-radius: 12px !important
}

.lightModeCard {
    background-color: #F1F2F3 !important;
    border-radius: 12px
}

.org-team-list-card-light {
    background-color: #F1F2F3 !important;
    border-radius: 17px !important
}

.org-team-list-card-dark {
    background-color: #292929;
    border-radius: 12px !important
}

.container {
    display: flex;
    justify-content: center;
}

.card {
    position: relative;
    width: 300px;
    transition: width 0.3s ease;
}
.content{
    transition: 0.3s ease;
}
.bar {
    position: absolute;
    top: 10%;
    left: 0px; 
    width: 9px;
    height: 80%;
    background-image: url('@/assets/img/button_bg.png');
    background-size: cover;
    opacity: 0; 
    transition: opacity 0.3s ease, left 0.3s ease;
}
.card:hover .bar {
    opacity: 1; 
    left: 10px;
}
.card:hover .content {
    padding-left: 12px;
}