  
@font-face {
    font-family: google-sans;
    src: url(assets/fonts/google-font.woff2);
    font-display: swap;
}
.google-font{
    font-family: google-sans
};
html{
    overflow-x: hidden;
}
body{
    font-family: google-sans
}

.card-light{
    background: white;
    border:1px solid #e0e0e0 !important; 
    border-radius:5px
}

.card-dark{
    background-color:#292929;
    border:1px solid #212121;
    border-radius:5px
}
.darkModeCard{
    background-color:#292929;
    border:1px solid #212121;
    border-radius:5px
}
.whiteTheme{
    background: white;
    border:1px solid #e0e0e0;
    border-radius:5px
  }

/* .lightModeCard{
    background-color:#ffff;
    border:1px solid #e0e0e0;
    border-radius:5px
} */